{% extends "sidebar.html"%}
{% block main_2%}
                     <!-- Page Content -->
            <div id="content" class="col offset-0 h-100" style="margin-top: 1cm;">
                
                <h3 class="page-header text-center">Add New Patient</h3>

                <!-- We'll fill this with dummy content -->
                


        
                <form action="/A/add_patient" method="POST" class="container">
                    <!-- <h2 style="text-align: center;">Add a Patient</h2> -->
                
                    {% if succ %}
                    <div class="alert alert-success" role="alert">
                        {{ succ }}
                    </div>
                    {% endif %}
                
                    {% if err %}
                    <div class="alert alert-danger" role="alert">
                        {{ err }}
                    </div>
                    {% endif %}
                
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="fname">First Name</label>
                        <input type="text" name="fname" class="form-control" id="fname" required>
                    </div>
                
                    <div class="form-group col-md-6">
                        <label for="lname">Last Name</label>
                        <input type="text" name="lname" class="form-control" id="lname" required>
                    </div>
                
                
                    <div class="form-group col-lg-12">
                        <label for="InputEmail1">Email</label>
                        <input type="email" name="email" class="form-control" id="InputEmail1" required>
                    </div>
                
                    <div class="form-group col-md-6">
                        <label for="pw1">Enter a password</label>
                        <div class="input-group">
                            <input type="password" data-toggle="password" name="password" class="form-control" id="pw1" required>
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fa fa-eye"></i></div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group col-md-6">
                        <label for="pw2">Confirm password</label>
                        <div class="input-group">
                            <input type="password" data-toggle="password" class="form-control" id="pw2" required>
                            <div class="input-group-append">
                                <div class="input-group-text"><i class="fa fa-eye"></i></div>
                            </div>
                        </div>
                        <small style="color:#d80808cb;" id="pwcheck"></small>
                    </div>
                    
                    
                    <div class="form-group col-md-6">
                        <label for="InputPhone">Phone Number</label>
                        <input type="tel" name="phone" class="form-control" id="InputPhone">
                    </div>
                
                    <div class="form-group col-md-6">
                        <label for="ssn">Social Security Number</label>
                        <input type="number" name="SSN" class="form-control" id="ssn">
                    </div>
                
                
                    <div class="form-group col-md-3" >
                        <label  for="gender">Gender</label>
                        <select id="gender" class="form-control" name="gender">
                          <option selected value="0">Select</option>
                          <option value="Male">Male</option>
                          <option value="Female">Female</option>
                          
                        </select>
                    </div>

                    <div class="form-group col-md-9">
                        <label for="job">Job</label>
                        <input type="text" name="job" class="form-control" id="job">
                    </div>

                    <!--------------------------- birthday -------------->
                    <!-- use -->
                    <!-- <div class="row"> -->
                    <div class="form-group col-md-6">
                        <label for="bd">Birthday</label>
                        <input type="text" name="birthday" class="form-control" id="bd">
                        <small class="form-text text-muted">Date format: YYYY-MM-DD</small>
                        <small style="color:#d80808cb;" id="bdcheck"></small>
                    </div>
                
                    <div class="form-group col-md-6">
                        <label  for="bloodtype">Blood Type</label>
                        <select id="bloodtype" class="form-control" name="bloodtype">
                          <option selected value="0">Select</option>
                          <option value="A+">A+</option>
                          <option value="A-">A-</option>
                          <option value="B+">B+</option>
                          <option value="B-">B-</option>
                          <option value="O+">O+</option>
                          <option value="O-">O-</option>
                          <option value="AB+">AB+</option>
                          <option value="AB-">AB-</option>
                        </select>
                      </div>
                
                      <div class="form-group col-md-6"> 
                        <label  for="weight">Weight</label>
                        <input type="number" class="form-control" id="weight" name="weight">
                      </div>
                
                      <div class="form-group col-md-6"> 
                        <label  for="height">Height</label>
                        <input type="number" class="form-control" id="height" name="height">
                      </div>
                
                
                      <div class="form-container col-12"> 
                        <h4>Medical History</h4>
                      </div>
                
                      <div class="container-fluid" id="hypertension">
                        <div class="row">
                              <div class="col-lg-6 col-sm-8 col-12">Does they have high blood pressure?</div>
                            <div class="form-check col-lg-3 col-sm-2 col-6">
                                <input class="form-check-input" type="checkbox" value="Yes" name="hypertension" id="yeshyper">
                                <label class="form-check-label" for="yeshyper">Yes</label>
                            </div>
                            <div class="form-check col-lg-3 col-sm-2 col-6">
                                <input class="form-check-input" type="checkbox" value="No" name="hypertension" id="nohyper">
                                <label class="form-check-label" for="nohyper">No</label>
                            </div>
                        </div>
                        </div>


                        <div class="container-fluid" id="conthypertension">
                            <div class="row">
                                <div class="col-lg-6 col-sm-8 col-12">Is it controlled?</div>
                                <div class="form-check col-lg-3 col-sm-2 col-6">
                                    <input class="form-check-input" type="checkbox" value="Yes" name="controlledH" id="yeshypercont">
                                    <label class="form-check-label" for="yeshypercont">Yes</label>
                                </div>
                                <div class="form-check col-lg-3 col-sm-2 col-6">
                                    <input class="form-check-input" type="checkbox" value="No" name="controlledH" id="nohypercont">
                                    <label class="form-check-label" for="nohypercont">No</label>
                                </div>
                            </div>
                        </div>   

                        <div class="container-fluid" id="diabetes">
                            <div class="row">
                                  <div class="col-lg-6 col-sm-8 col-12">Does they have diabetes?</div>
                                <div class="form-check col-lg-3 col-sm-2 col-6">
                                    <input class="form-check-input" type="checkbox" value="Yes" name="diabetic" id="yesdia">
                                    <label class="form-check-label" for="yesdia">Yes</label>
                                </div>
                                <div class="form-check col-lg-3 col-sm-2 col-6">
                                    <input class="form-check-input" type="checkbox" value="No" name="diabetic" id="nodia">
                                    <label class="form-check-label" for="nodia">No</label>
                                </div>
                            </div>
                        </div>
    
    
                            <div class="container-fluid" id="controlledDiabetes">
                                <div class="row">
                                    <div class="col-lg-6 col-sm-8 col-12">Is it controlled?</div>
                                    <div class="form-check col-lg-3 col-sm-2 col-6">
                                        <input class="form-check-input" type="checkbox" value="Yes" name="controlledDiabetes" id="yesdiacont">
                                        <label class="form-check-label" for="yesdiacont">Yes</label>
                                    </div>
                                    <div class="form-check col-lg-3 col-sm-2 col-6">
                                        <input class="form-check-input" type="checkbox" value="No" name="controlledDiabetes" id="nodiacont">
                                        <label class="form-check-label" for="nodiacont">No</label>
                                    </div>
                                </div>
                            </div>  


                            <div class="container-fluid" id="heartStroke">
                                <div class="row">
                                      <div class="col-lg-6 col-sm-8 col-12">Did they have a heart stroke before?</div>
                                    <div class="form-check col-lg-3 col-sm-2 col-6">
                                        <input class="form-check-input" type="checkbox" value="Yes" name="heartStroke" id="yesheartStroke">
                                        <label class="form-check-label" for="yesheartStroke">Yes</label>
                                    </div>
                                    <div class="form-check col-lg-3 col-sm-2 col-6">
                                        <input class="form-check-input" type="checkbox" value="No" name="heartStroke" id="noheartStroke">
                                        <label class="form-check-label" for="noheartStroke">No</label>
                                    </div>
                                </div>
                            </div>                                                        


                            <div class="container-fluid" id="cholesterol">
                                <div class="row">
                                      <div class="col-lg-6 col-sm-8 col-12">Is their cholesterol level high?</div>
                                    <div class="form-check col-lg-3 col-sm-2 col-6">
                                        <input class="form-check-input" type="checkbox" value="Yes" name="cholesterol" id="yescholesterol">
                                        <label class="form-check-label" for="yescholesterol">Yes</label>
                                    </div>
                                    <div class="form-check col-lg-3 col-sm-2 col-6">
                                        <input class="form-check-input" type="checkbox" value="No" name="cholesterol" id="nocholesterol">
                                        <label class="form-check-label" for="nocholesterol">No</label>
                                    </div>
                                </div>
                            </div>                            
                
                
                
                        <!-- <small id="check"></small> -->
                        
                    <div class="col-12 p-3" style="text-align: center;">
                        <button type="button" class="btn btn-secondary btn-lg" id="btn">Submit</button>
                    </div>
                </div>
                </form>
                
                                    
               


               <!-- End of dummy Content -->
            </div>
                    
                    
                    
        </div>
                

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="../static/scripts/show-hide-password/bootstrap-show-password.js"></script>
        <script src="../static/scripts/validations.js"></script>
            
{% endblock %}