body{
    background-image: url("../images/doctors-patients-sit-talk-patient-about-medication_18497-166.jpg");
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  /* set form background colour*/
  form{
    background: #fff;
    
  }
  /* set padding and size of th form */
  .form-container{
    padding-top: 25vh;
    border-radius: 10px;
    padding: 30px;
    
  }

  .main-section{
    margin: 0 auto;
    margin-top: 130px;
  }

  .form-footer{
    padding: 20px;
    
  }